In [99]:
import pandas as pd
import pprint

In [100]:
oscar_df = pd.read_csv("data/the_oscar_award.csv")
oscar_df

,year_film,year_ceremony,ceremony,category,name,film,winner
0,1927,1928,1,ACTOR,Richard Barthelmess,The Noose,False
1,1927,1928,1,ACTOR,Emil Jannings,The Last Command,True
2,1927,1928,1,ACTRESS,Louise Dresser,A Ship Comes In,False
3,1927,1928,1,ACTRESS,Janet Gaynor,7th Heaven,True
4,1927,1928,1,ACTRESS,Gloria Swanson,Sadie Thompson,False
...,...,...,...,...,...,...,...
10390,2019,2020,92,WRITING (Original Screenplay),"Screenplay by Bong Joon Ho, Han Jin Won; Story...",Parasite,True
10391,2019,2020,92,JEAN HERSHOLT HUMANITARIAN AWARD,Geena Davis,NaN,True
10392,2019,2020,92,HONORARY AWARD,David Lynch,NaN,True
10393,2019,2020,92,HONORARY AWARD,Wes Studi,NaN,True
10394,2019,2020,92,HONORARY AWARD,Lina Wertmüller,NaN,True

In [101]:
oscar_df.filter(items= ['year_film', 'category', 'film', 'winner']).dropna()

,year_film,category,film,winner
0,1927,ACTOR,The Noose,False
1,1927,ACTOR,The Last Command,True
2,1927,ACTRESS,A Ship Comes In,False
3,1927,ACTRESS,7th Heaven,True
4,1927,ACTRESS,Sadie Thompson,False
...,...,...,...,...
10386,2019,WRITING (Original Screenplay),Knives Out,False
10387,2019,WRITING (Original Screenplay),Marriage Story,False
10388,2019,WRITING (Original Screenplay),1917,False
10389,2019,WRITING (Original Screenplay),Once upon a Time...in Hollywood,False
10390,2019,WRITING (Original Screenplay),Parasite,True

In [102]:
oscar_df_year_filter = oscar_df.filter(items= ['year_film', 'category', 'film', 'winner']).dropna()
filet = oscar_df_year_filter.loc[(oscar_df_year_filter['category'] == "BEST PICTURE") &  (oscar_df_year_filter['year_film'] > 2000)]

In [103]:
col_one_list = filet['film'].tolist()
col_one_list

['A Beautiful Mind',
 'Gosford Park',
 'In the Bedroom',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Moulin Rouge',
 'Chicago',
 'Gangs of New York',
 'The Hours',
 'The Lord of the Rings: The Two Towers',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'Lost in Translation',
 'Master and Commander: The Far Side of the World',
 'Mystic River',
 'Seabiscuit',
 'The Aviator',
 'Finding Neverland',
 'Million Dollar Baby',
 'Ray',
 'Sideways',
 'Brokeback Mountain',
 'Capote',
 'Crash',
 'Good Night, and Good Luck.',
 'Munich',
 'Babel',
 'The Departed',
 'Letters from Iwo Jima',
 'Little Miss Sunshine',
 'The Queen',
 'Atonement',
 'Juno',
 'Michael Clayton',
 'No Country for Old Men',
 'There Will Be Blood',
 'The Curious Case of Benjamin Button',
 'Frost/Nixon',
 'Milk',
 'The Reader',
 'Slumdog Millionaire',
 'Avatar',
 'The Blind Side',
 'District 9',
 'An Education',
 'The Hurt Locker',
 'Inglourious Basterds',
 "Precious: Based on the Novel 'Push' by Sapphire",
 'A Serious Man',
 'Up',
 'Up in the Air',
 'Black Swan',
 'The Fighter',
 'Inception',
 'The Kids Are All Right',
 "The King's Speech",
 '127 Hours',
 'The Social Network',
 'Toy Story 3',
 'True Grit',
 "Winter's Bone",
 'The Artist',
 'The Descendants',
 'Extremely Loud & Incredibly Close',
 'The Help',
 'Hugo',
 'Midnight in Paris',
 'Moneyball',
 'The Tree of Life',
 'War Horse',
 'Amour',
 'Argo',
 'Beasts of the Southern Wild',
 'Django Unchained',
 'Les Misérables',
 'Life of Pi',
 'Lincoln',
 'Silver Linings Playbook',
 'Zero Dark Thirty',
 'American Hustle',
 'Captain Phillips',
 'Dallas Buyers Club',
 'Gravity',
 'Her',
 'Nebraska',
 'Philomena',
 '12 Years a Slave',
 'The Wolf of Wall Street',
 'American Sniper',
 'Birdman or (The Unexpected Virtue of Ignorance)',
 'Boyhood',
 'The Grand Budapest Hotel',
 'The Imitation Game',
 'Selma',
 'The Theory of Everything',
 'Whiplash',
 'The Big Short',
 'Bridge of Spies',
 'Brooklyn',
 'Mad Max: Fury Road',
 'The Martian',
 'The Revenant',
 'Room',
 'Spotlight',
 'Arrival',
 'Fences',
 'Hacksaw Ridge',
 'Hell or High Water',
 'Hidden Figures',
 'La La Land',
 'Lion',
 'Manchester by the Sea',
 'Moonlight',
 'Call Me by Your Name',
 'Darkest Hour',
 'Dunkirk',
 'Get Out',
 'Lady Bird',
 'Phantom Thread',
 'The Post',
 'The Shape of Water',
 'Three Billboards outside Ebbing, Missouri',
 'Black Panther',
 'BlacKkKlansman',
 'Bohemian Rhapsody',
 'The Favourite',
 'Green Book',
 'Roma',
 'A Star Is Born',
 'Vice',
 'Ford v Ferrari',
 'The Irishman',
 'Jojo Rabbit',
 'Joker',
 'Little Women',
 'Marriage Story',
 '1917',
 'Once upon a Time...in Hollywood',
 'Parasite']

In [106]:
for i in col_one_list:
    print(i)

A Beautiful Mind
Gosford Park
In the Bedroom
The Lord of the Rings: The Fellowship of the Ring
Moulin Rouge
Chicago
Gangs of New York
The Hours
The Lord of the Rings: The Two Towers
The Pianist
The Lord of the Rings: The Return of the King
Lost in Translation
Master and Commander: The Far Side of the World
Mystic River
Seabiscuit
The Aviator
Finding Neverland
Million Dollar Baby
Ray
Sideways
Brokeback Mountain
Capote
Crash
Good Night, and Good Luck.
Munich
Babel
The Departed
Letters from Iwo Jima
Little Miss Sunshine
The Queen
Atonement
Juno
Michael Clayton
No Country for Old Men
There Will Be Blood
The Curious Case of Benjamin Button
Frost/Nixon
Milk
The Reader
Slumdog Millionaire
Avatar
The Blind Side
District 9
An Education
The Hurt Locker
Inglourious Basterds
Precious: Based on the Novel 'Push' by Sapphire
A Serious Man
Up
Up in the Air
Black Swan
The Fighter
Inception
The Kids Are All Right
The King's Speech
127 Hours
The Social Network
Toy Story 3
True Grit
Winter's Bone
The Artist
The Descendants
Extremely Loud & Incredibly Close
The Help
Hugo
Midnight in Paris
Moneyball
The Tree of Life
War Horse
Amour
Argo
Beasts of the Southern Wild
Django Unchained
Les Misérables
Life of Pi
Lincoln
Silver Linings Playbook
Zero Dark Thirty
American Hustle
Captain Phillips
Dallas Buyers Club
Gravity
Her
Nebraska
Philomena
12 Years a Slave
The Wolf of Wall Street
American Sniper
Birdman or (The Unexpected Virtue of Ignorance)
Boyhood
The Grand Budapest Hotel
The Imitation Game
Selma
The Theory of Everything
Whiplash
The Big Short
Bridge of Spies
Brooklyn
Mad Max: Fury Road
The Martian
The Revenant
Room
Spotlight
Arrival
Fences
Hacksaw Ridge
Hell or High Water
Hidden Figures
La La Land
Lion
Manchester by the Sea
Moonlight
Call Me by Your Name
Darkest Hour
Dunkirk
Get Out
Lady Bird
Phantom Thread
The Post
The Shape of Water
Three Billboards outside Ebbing, Missouri
Black Panther
BlacKkKlansman
Bohemian Rhapsody
The Favourite
Green Book
Roma
A Star Is Born
Vice
Ford v Ferrari
The Irishman
Jojo Rabbit
Joker
Little Women
Marriage Story
1917
Once upon a Time...in Hollywood
Parasite