In [1]:
import requests
import json
import pandas as pd
import pprint
import datetime
oscar_df = pd.read_csv("data/the_oscar_award.csv")
#from config import api_key

In [2]:
from pprint import pprint
api_key = "11c18b32"

In [3]:
url = "http://www.omdbapi.com/?t="
api_key = "&apikey=" + api_key

In [4]:
response = requests.get(url + "The Wizard of Oz" + api_key)

In [5]:
data = response.json()
pprint(data)

{'Actors': 'Judy Garland, Frank Morgan, Ray Bolger',
 'Awards': 'Won 2 Oscars. 13 wins & 16 nominations total',
 'BoxOffice': '$24,668,669',
 'Country': 'United States',
 'DVD': '12 Aug 2003',
 'Director': 'Victor Fleming, George Cukor, Mervyn LeRoy',
 'Genre': 'Adventure, Family, Fantasy',
 'Language': 'English',
 'Metascore': '92',
 'Plot': 'Young Dorothy Gale and her dog are swept away by a tornado from '
         'their Kansas farm to the magical Land of Oz, and embark on a quest '
         'with three new friends to see the Wizard, who can return her to her '
         "home and fulfill the others' wishe",
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjUyMTc4MDExMV5BMl5BanBnXkFtZTgwNDg0NDIwMjE@._V1_SX300.jpg',
 'Production': 'N/A',
 'Rated': 'G',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.1/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '98%'},
             {'Source': 'Metacritic', 'Value': '92/100'}],
 'Released': '25 Aug 1939',
 'Response': 'True',
 'Runtime': '102 min',
 'Title': 'The Wizard of Oz',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Noel Langley, Florence Ryerson, Edgar Allan Woolf',
 'Year': '1939',
 'imdbID': 'tt0032138',
 'imdbRating': '8.1',
 'imdbVotes': '386,540'}

In [6]:

title=data['Title']
# Director=(f"Movie was directed by {data['Director']}.")
# Country=(f"Movie was released in {data['Country']}.")
Box_office=data['BoxOffice']

results_df = pd.DataFrame(columns=("Movie Title", "Box Office"))
# results_df = results_df.rename(columns={
#         title : "Movie Title", 
#         Director : "Director", 
#         Country : "Country", 
#         Box_office : "Box Office"
#         })
results_df
print(title)
print(Box_office)

The Wizard of Oz
$24,668,669

In [7]:
results_df = pd.DataFrame({"Movie Title":[title], "Box Office":[Box_office]})
results_df

        Movie Title   Box Office
0  The Wizard of Oz  $24,668,669

In [8]:
oscar_df = pd.read_csv("data/the_oscar_award.csv")
# oscar_df
oscar_df_year_filter = oscar_df.filter(items= ['year_film', 'category', 'film', 'winner']).dropna()
filet = oscar_df_year_filter.loc[(oscar_df_year_filter['category'] == "BEST PICTURE") &  (oscar_df_year_filter['year_film'] >= 2000)] 
filet.loc[(filet["film"]=="Little Women")]

       year_film      category          film  winner
10346       2019  BEST PICTURE  Little Women   False

In [9]:
col_one_list = filet['film'].tolist()
col_one_list

['Chocolat',
 'Crouching Tiger, Hidden Dragon',
 'Erin Brockovich',
 'Gladiator',
 'Traffic',
 'A Beautiful Mind',
 'Gosford Park',
 'In the Bedroom',
 'The Lord of the Rings: The Fellowship of the Ring',
 'Moulin Rouge',
 'Chicago',
 'Gangs of New York',
 'The Hours',
 'The Lord of the Rings: The Two Towers',
 'The Pianist',
 'The Lord of the Rings: The Return of the King',
 'Lost in Translation',
 'Master and Commander: The Far Side of the World',
 'Mystic River',
 'Seabiscuit',
 'The Aviator',
 'Finding Neverland',
 'Million Dollar Baby',
 'Ray',
 'Sideways',
 'Brokeback Mountain',
 'Capote',
 'Crash',
 'Good Night, and Good Luck.',
 'Munich',
 'Babel',
 'The Departed',
 'Letters from Iwo Jima',
 'Little Miss Sunshine',
 'The Queen',
 'Atonement',
 'Juno',
 'Michael Clayton',
 'No Country for Old Men',
 'There Will Be Blood',
 'The Curious Case of Benjamin Button',
 'Frost/Nixon',
 'Milk',
 'The Reader',
 'Slumdog Millionaire',
 'Avatar',
 'The Blind Side',
 'District 9',
 'An Education',
 'The Hurt Locker',
 'Inglourious Basterds',
 "Precious: Based on the Novel 'Push' by Sapphire",
 'A Serious Man',
 'Up',
 'Up in the Air',
 'Black Swan',
 'The Fighter',
 'Inception',
 'The Kids Are All Right',
 "The King's Speech",
 '127 Hours',
 'The Social Network',
 'Toy Story 3',
 'True Grit',
 "Winter's Bone",
 'The Artist',
 'The Descendants',
 'Extremely Loud & Incredibly Close',
 'The Help',
 'Hugo',
 'Midnight in Paris',
 'Moneyball',
 'The Tree of Life',
 'War Horse',
 'Amour',
 'Argo',
 'Beasts of the Southern Wild',
 'Django Unchained',
 'Les Mis√©rables',
 'Life of Pi',
 'Lincoln',
 'Silver Linings Playbook',
 'Zero Dark Thirty',
 'American Hustle',
 'Captain Phillips',
 'Dallas Buyers Club',
 'Gravity',
 'Her',
 'Nebraska',
 'Philomena',
 '12 Years a Slave',
 'The Wolf of Wall Street',
 'American Sniper',
 'Birdman or (The Unexpected Virtue of Ignorance)',
 'Boyhood',
 'The Grand Budapest Hotel',
 'The Imitation Game',
 'Selma',
 'The Theory of Everything',
 'Whiplash',
 'The Big Short',
 'Bridge of Spies',
 'Brooklyn',
 'Mad Max: Fury Road',
 'The Martian',
 'The Revenant',
 'Room',
 'Spotlight',
 'Arrival',
 'Fences',
 'Hacksaw Ridge',
 'Hell or High Water',
 'Hidden Figures',
 'La La Land',
 'Lion',
 'Manchester by the Sea',
 'Moonlight',
 'Call Me by Your Name',
 'Darkest Hour',
 'Dunkirk',
 'Get Out',
 'Lady Bird',
 'Phantom Thread',
 'The Post',
 'The Shape of Water',
 'Three Billboards outside Ebbing, Missouri',
 'Black Panther',
 'BlacKkKlansman',
 'Bohemian Rhapsody',
 'The Favourite',
 'Green Book',
 'Roma',
 'A Star Is Born',
 'Vice',
 'Ford v Ferrari',
 'The Irishman',
 'Jojo Rabbit',
 'Joker',
 'Little Women',
 'Marriage Story',
 '1917',
 'Once upon a Time...in Hollywood',
 'Parasite']

In [10]:
response = requests.get(url + "The Wizard of Oz" + api_key)

In [11]:
hj = []
for i in col_one_list:
    response = requests.get(url + i + api_key).json()
    hj.append(response)

In [24]:
final_resort = pd.DataFrame(hj)
final_resort["Metascore"]

0      64
1      94
2      73
3      67
4      86
       ..
138    91
139    94
140    78
141    83
142    96
Name: Metascore, Length: 143, dtype: object

In [25]:
final_resort = final_resort.filter(items=["Title", "BoxOffice", "imdbRating", "Metascore"])
final_resort

                                Title     BoxOffice imdbRating Metascore
0                            Chocolat   $71,509,363        7.3        64
1      Crouching Tiger, Hidden Dragon  $128,078,872        7.8        94
2                     Erin Brockovich  $125,595,205        7.4        73
3                           Gladiator  $187,705,427        8.5        67
4                             Traffic  $124,115,725        7.6        86
..                                ...           ...        ...       ...
138                      Little Women  $108,101,214        7.8        91
139                    Marriage Story           N/A        7.9        94
140                              1917  $159,227,644        8.3        78
141  Once Upon a Time... In Hollywood  $142,502,728        7.6        83
142                          Parasite   $53,369,749        8.5        96

[143 rows x 4 columns]