In [1]:
import requests
import json
import pandas as pd
import pprint
import datetime
oscar_df = pd.read_csv("data/the_oscar_award.csv")
#from config import api_key

In [2]:
from pprint import pprint
from config import api_key

In [3]:
url = "http://www.omdbapi.com/?t="
api_key = "&apikey=" + api_key

In [4]:
response = requests.get(url + "The Wizard of Oz" + api_key)

In [5]:
data = response.json()
pprint(data)

{'Actors': 'Judy Garland, Frank Morgan, Ray Bolger',
 'Awards': 'Won 2 Oscars. 13 wins & 16 nominations total',
 'BoxOffice': '$24,668,669',
 'Country': 'United States',
 'DVD': '12 Aug 2003',
 'Director': 'Victor Fleming, George Cukor, Mervyn LeRoy',
 'Genre': 'Adventure, Family, Fantasy',
 'Language': 'English',
 'Metascore': '92',
 'Plot': 'Young Dorothy Gale and her dog are swept away by a tornado from '
         'their Kansas farm to the magical Land of Oz, and embark on a quest '
         'with three new friends to see the Wizard, who can return her to her '
         "home and fulfill the others' wishe",
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjUyMTc4MDExMV5BMl5BanBnXkFtZTgwNDg0NDIwMjE@._V1_SX300.jpg',
 'Production': 'N/A',
 'Rated': 'G',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.1/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '98%'},
             {'Source': 'Metacritic', 'Value': '92/100'}],
 'Released': '25 Aug 1939',
 'Response': 'True',
 'Runtime': '102 min',
 'Title': 'The Wizard of Oz',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Noel Langley, Florence Ryerson, Edgar Allan Woolf',
 'Year': '1939',
 'imdbID': 'tt0032138',
 'imdbRating': '8.1',
 'imdbVotes': '386,540'}

In [6]:

title=data['Title']
# Director=(f"Movie was directed by {data['Director']}.")
# Country=(f"Movie was released in {data['Country']}.")
Box_office=data['BoxOffice']

results_df = pd.DataFrame(columns=("Movie Title", "Box Office"))
# results_df = results_df.rename(columns={
#         title : "Movie Title", 
#         Director : "Director", 
#         Country : "Country", 
#         Box_office : "Box Office"
#         })
results_df
print(title)
print(Box_office)

The Wizard of Oz
$24,668,669

In [7]:
results_df = pd.DataFrame({"Movie Title":[title], "Box Office":[Box_office]})
results_df

        Movie Title   Box Office
0  The Wizard of Oz  $24,668,669

In [8]:
oscar_df = pd.read_csv("data/the_oscar_award.csv")
# oscar_df
oscar_df_year_filter = oscar_df.filter(items= ['year_film', 'category', 'film', 'winner']).dropna()
filet = oscar_df_year_filter.loc[(oscar_df_year_filter['category'] == "BEST PICTURE") &  (oscar_df_year_filter['year_film'] > 2000)]
filet.to_csv("Data/oscar_filter.csv")

In [9]:
filet

,year_film,category,film,winner
8190,2001,BEST PICTURE,A Beautiful Mind,True
8191,2001,BEST PICTURE,Gosford Park,False
8192,2001,BEST PICTURE,In the Bedroom,False
8193,2001,BEST PICTURE,The Lord of the Rings: The Fellowship of the Ring,False
8194,2001,BEST PICTURE,Moulin Rouge,False
...,...,...,...,...
10346,2019,BEST PICTURE,Little Women,False
10347,2019,BEST PICTURE,Marriage Story,False
10348,2019,BEST PICTURE,1917,False
10349,2019,BEST PICTURE,Once upon a Time...in Hollywood,False
10350,2019,BEST PICTURE,Parasite,True

In [10]:
col_one_list = filet['film'].tolist()
print(col_one_list)

['A Beautiful Mind', 'Gosford Park', 'In the Bedroom', 'The Lord of the Rings: The Fellowship of the Ring', 'Moulin Rouge', 'Chicago', 'Gangs of New York', 'The Hours', 'The Lord of the Rings: The Two Towers', 'The Pianist', 'The Lord of the Rings: The Return of the King', 'Lost in Translation', 'Master and Commander: The Far Side of the World', 'Mystic River', 'Seabiscuit', 'The Aviator', 'Finding Neverland', 'Million Dollar Baby', 'Ray', 'Sideways', 'Brokeback Mountain', 'Capote', 'Crash', 'Good Night, and Good Luck.', 'Munich', 'Babel', 'The Departed', 'Letters from Iwo Jima', 'Little Miss Sunshine', 'The Queen', 'Atonement', 'Juno', 'Michael Clayton', 'No Country for Old Men', 'There Will Be Blood', 'The Curious Case of Benjamin Button', 'Frost/Nixon', 'Milk', 'The Reader', 'Slumdog Millionaire', 'Avatar', 'The Blind Side', 'District 9', 'An Education', 'The Hurt Locker', 'Inglourious Basterds', "Precious: Based on the Novel 'Push' by Sapphire", 'A Serious Man', 'Up', 'Up in the Air', 'Black Swan', 'The Fighter', 'Inception', 'The Kids Are All Right', "The King's Speech", '127 Hours', 'The Social Network', 'Toy Story 3', 'True Grit', "Winter's Bone", 'The Artist', 'The Descendants', 'Extremely Loud & Incredibly Close', 'The Help', 'Hugo', 'Midnight in Paris', 'Moneyball', 'The Tree of Life', 'War Horse', 'Amour', 'Argo', 'Beasts of the Southern Wild', 'Django Unchained', 'Les Misérables', 'Life of Pi', 'Lincoln', 'Silver Linings Playbook', 'Zero Dark Thirty', 'American Hustle', 'Captain Phillips', 'Dallas Buyers Club', 'Gravity', 'Her', 'Nebraska', 'Philomena', '12 Years a Slave', 'The Wolf of Wall Street', 'American Sniper', 'Birdman or (The Unexpected Virtue of Ignorance)', 'Boyhood', 'The Grand Budapest Hotel', 'The Imitation Game', 'Selma', 'The Theory of Everything', 'Whiplash', 'The Big Short', 'Bridge of Spies', 'Brooklyn', 'Mad Max: Fury Road', 'The Martian', 'The Revenant', 'Room', 'Spotlight', 'Arrival', 'Fences', 'Hacksaw Ridge', 'Hell or High Water', 'Hidden Figures', 'La La Land', 'Lion', 'Manchester by the Sea', 'Moonlight', 'Call Me by Your Name', 'Darkest Hour', 'Dunkirk', 'Get Out', 'Lady Bird', 'Phantom Thread', 'The Post', 'The Shape of Water', 'Three Billboards outside Ebbing, Missouri', 'Black Panther', 'BlacKkKlansman', 'Bohemian Rhapsody', 'The Favourite', 'Green Book', 'Roma', 'A Star Is Born', 'Vice', 'Ford v Ferrari', 'The Irishman', 'Jojo Rabbit', 'Joker', 'Little Women', 'Marriage Story', '1917', 'Once upon a Time...in Hollywood', 'Parasite']

In [11]:
response = requests.get(url + "The Wizard of Oz" + api_key)

In [12]:
hj = []
for i in col_one_list:
    response = requests.get(url + i + api_key).json()
    hj.append(response)

In [13]:
final_resort = pd.DataFrame(hj)
final_resort.tail(100)

,Title,Year,Rated,Released,Runtime,Genre,Director,Writer,Actors,Plot,...,imdbRating,imdbVotes,imdbID,Type,DVD,BoxOffice,Production,Website,Response,Error
38,The Reader,2008,R,30 Jan 2009,124 min,"Drama, Romance",Stephen Daldry,"David Hare, Bernhard Schlink","Kate Winslet, Ralph Fiennes, Bruno Ganz",Post-WWII Germany: Nearly a decade after his a...,...,7.6,"240,321",tt0976051,movie,14 Apr 2009,"$34,194,407",N/A,N/A,True,NaN
39,Slumdog Millionaire,2008,R,25 Dec 2008,120 min,"Drama, Romance","Danny Boyle, Loveleen Tandan","Simon Beaufoy, Vikas Swarup","Dev Patel, Freida Pinto, Saurabh Shukla",A Mumbai teenager reflects on his life after b...,...,8.0,"830,646",tt1010048,movie,31 Mar 2009,"$141,319,928",N/A,N/A,True,NaN
40,Avatar,2009,PG-13,18 Dec 2009,162 min,"Action, Adventure, Fantasy",James Cameron,James Cameron,"Sam Worthington, Zoe Saldana, Sigourney Weaver",A paraplegic Marine dispatched to the moon Pan...,...,7.9,"1,185,150",tt0499549,movie,22 Apr 2010,"$760,507,625",N/A,N/A,True,NaN
41,The Blind Side,2009,PG-13,20 Nov 2009,129 min,"Biography, Drama, Sport",John Lee Hancock,"John Lee Hancock, Michael Lewis","Quinton Aaron, Sandra Bullock, Tim McGraw","The story of Michael Oher, a homeless and trau...",...,7.6,"320,569",tt0878804,movie,23 Mar 2010,"$255,982,860",N/A,N/A,True,NaN
42,District 9,2009,R,14 Aug 2009,112 min,"Action, Sci-Fi, Thriller",Neill Blomkamp,"Neill Blomkamp, Terri Tatchell","Sharlto Copley, David James, Jason Cope",Violence ensues after an extraterrestrial race...,...,7.9,"667,300",tt1136608,movie,22 Dec 2009,"$115,646,235",N/A,N/A,True,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,Little Women,2019,PG,25 Dec 2019,135 min,"Drama, Romance",Greta Gerwig,"Greta Gerwig, Louisa May Alcott","Saoirse Ronan, Emma Watson, Florence Pugh","Jo March reflects back and forth on her life, ...",...,7.8,"186,497",tt3281548,movie,25 Dec 2019,"$108,101,214",N/A,N/A,True,NaN
134,Marriage Story,2019,R,06 Dec 2019,137 min,"Drama, Romance",Noah Baumbach,Noah Baumbach,"Adam Driver, Scarlett Johansson, Julia Greer",Noah Baumbach's incisive and compassionate loo...,...,7.9,"290,094",tt7653254,movie,06 Dec 2019,N/A,N/A,N/A,True,NaN
135,1917,2019,R,10 Jan 2020,119 min,"Action, Drama, War",Sam Mendes,"Sam Mendes, Krysty Wilson-Cairns","Dean-Charles Chapman, George MacKay, Daniel Mays","April 6th, 1917. As an infantry battalion asse...",...,8.3,"540,419",tt8579674,movie,25 Dec 2019,"$159,227,644",N/A,N/A,True,NaN
136,Once Upon a Time... In Hollywood,2019,R,26 Jul 2019,161 min,"Comedy, Drama",Quentin Tarantino,Quentin Tarantino,"Leonardo DiCaprio, Brad Pitt, Margot Robbie",A faded television actor and his stunt double ...,...,7.6,"678,280",tt7131622,movie,27 Aug 2019,"$142,502,728",N/A,N/A,True,NaN
137,Parasite,2019,R,08 Nov 2019,132 min,"Comedy, Drama, Thriller",Bong Joon Ho,"Bong Joon Ho, Han Jin-won","Kang-ho Song, Sun-kyun Lee, Yeo-jeong Cho",Greed and class discrimination threaten the ne...,...,8.5,"727,949",tt6751668,movie,11 Oct 2019,"$53,369,749",N/A,N/A,True,NaN

In [14]:
final_resort = final_resort.filter(items=["Title", "Year", "BoxOffice", "imdbRating", "Metascore"])
final_resort = final_resort.loc[(final_resort["Year"]>="2001")]
final_resort = final_resort.sort_values(by=["Year"])

In [15]:
final_resort.filter(items=["Title", "BoxOffice", "imdbRating", "Metascore"])

,Title,BoxOffice,imdbRating,Metascore
0,A Beautiful Mind,"$170,742,341",8.2,72
1,Gosford Park,"$41,308,615",7.2,90
2,In the Bedroom,"$35,930,604",7.4,86
3,The Lord of the Rings: The Fellowship of the Ring,"$316,115,420",8.8,92
5,Chicago,"$170,687,518",7.2,81
...,...,...,...,...
132,Joker,"$335,477,657",8.4,59
133,Little Women,"$108,101,214",7.8,91
134,Marriage Story,N/A,7.9,94
135,1917,"$159,227,644",8.3,78
137,Parasite,"$53,369,749",8.5,96

In [16]:
final_resort.filter(items=["Title", "BoxOffice", "imdbRating", "Metascore"]).to_csv("Data/OMDB API.csv")