In [1]:
import requests
import json
import pandas as pd
oscar_df = pd.read_csv("data/the_oscar_award.csv")
#from config import api_key

In [2]:
from pprint import pprint
api_key = "11c18b32"

In [3]:
url = "http://www.omdbapi.com/?t="
api_key = "&apikey=" + api_key

In [4]:
response = requests.get(url + "The Wizard of Oz" + api_key)

In [5]:
data = response.json()
pprint(data)

{'Actors': 'Judy Garland, Frank Morgan, Ray Bolger',
 'Awards': 'Won 2 Oscars. 13 wins & 16 nominations total',
 'BoxOffice': '$24,668,669',
 'Country': 'United States',
 'DVD': '12 Aug 2003',
 'Director': 'Victor Fleming, George Cukor, Mervyn LeRoy',
 'Genre': 'Adventure, Family, Fantasy',
 'Language': 'English',
 'Metascore': '92',
 'Plot': 'Young Dorothy Gale and her dog are swept away by a tornado from '
         'their Kansas farm to the magical Land of Oz, and embark on a quest '
         'with three new friends to see the Wizard, who can return her to her '
         "home and fulfill the others' wishe",
 'Poster': 'https://m.media-amazon.com/images/M/MV5BNjUyMTc4MDExMV5BMl5BanBnXkFtZTgwNDg0NDIwMjE@._V1_SX300.jpg',
 'Production': 'N/A',
 'Rated': 'G',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.1/10'},
             {'Source': 'Rotten Tomatoes', 'Value': '98%'},
             {'Source': 'Metacritic', 'Value': '92/100'}],
 'Released': '25 Aug 1939',
 'Response': 'True',
 'Runtime': '102 min',
 'Title': 'The Wizard of Oz',
 'Type': 'movie',
 'Website': 'N/A',
 'Writer': 'Noel Langley, Florence Ryerson, Edgar Allan Woolf',
 'Year': '1939',
 'imdbID': 'tt0032138',
 'imdbRating': '8.1',
 'imdbVotes': '386,540'}

In [12]:

title=data['Title']
# Director=(f"Movie was directed by {data['Director']}.")
# Country=(f"Movie was released in {data['Country']}.")
Box_office=data['BoxOffice']

results_df = pd.DataFrame(columns=("Movie Title", "Box Office"))
# results_df = results_df.rename(columns={
#         title : "Movie Title", 
#         Director : "Director", 
#         Country : "Country", 
#         Box_office : "Box Office"
#         })
results_df
print(title)
print(Box_office)

The Wizard of Oz
$24,668,669

In [18]:
results_df = pd.DataFrame({"Movie Title":[title], "Box Office":[Box_office]})
results_df

        Movie Title   Box Office
0  The Wizard of Oz  $24,668,669

In [20]:
oscar_df = pd.read_csv("data/the_oscar_award.csv")
# oscar_df
oscar_df_year_filter = oscar_df.filter(items= ['year_film', 'category', 'film', 'winner']).dropna()
oscar_df_year_filter.loc[(oscar_df_year_filter['category'] == "BEST PICTURE") &  (oscar_df_year_filter['year_film'] > 2000)]

,year_film,category,film,winner
8190,2001,BEST PICTURE,A Beautiful Mind,True
8191,2001,BEST PICTURE,Gosford Park,False
8192,2001,BEST PICTURE,In the Bedroom,False
8193,2001,BEST PICTURE,The Lord of the Rings: The Fellowship of the Ring,False
8194,2001,BEST PICTURE,Moulin Rouge,False
...,...,...,...,...
10346,2019,BEST PICTURE,Little Women,False
10347,2019,BEST PICTURE,Marriage Story,False
10348,2019,BEST PICTURE,1917,False
10349,2019,BEST PICTURE,Once upon a Time...in Hollywood,False
10350,2019,BEST PICTURE,Parasite,True